<% ports = term.getTerminals(true) %>
<div class="ui stackable grid">
  <div class="row">
    <div class="four wide column">
      <div class="ui fluid vertical pointing menu">
        <%_ ports.forEach((port) => { -%>
        <%_ if(gsm = term.get(port)) { %>
        <a href="#" class="item" data-port="<%= gsm.name %>"><i class="desktop icon"></i> <%= gsm.name %></a>
        <%_ } -%>
        <%_ }); -%>
      </div>
    </div>
    <div class="twelve wide column">
      <%_ ports.forEach((port) => { -%>
      <%_ if(gsm = term.get(port)) { %>
      <div class="ui form gsm <%= gsm.name %>" style="display: none;">
        <div class="ui two column stackable grid">
          <div class="column">
            <div class="two fields">
              <div class="field">Manufacturer:</div>
              <div class="ui field label"><%= gsm.info.manufacturer %></div>
            </div>
            <div class="two fields">
              <div class="field">Model:</div>
              <div class="ui field label"><%= gsm.info.model %></div>
            </div>
            <div class="two fields">
              <div class="field">Version:</div>
              <div class="ui field label"><%= gsm.info.version %></div>
            </div>
            <div class="two fields">
              <div class="field">Serial:</div>
              <div class="ui field label"><%= gsm.info.serial %></div>
            </div>
            <div class="two fields">
              <div class="field">IMSI:</div>
              <div class="ui field label"><%= gsm.info.imsi %></div>
            </div>
          </div>
          <div class="column">
            <div class="two fields">
              <div class="field">Call monitor:</div>
              <div class="ui field label"><%= gsm.info.hasCall ? 'yes' : 'no' %></div>
            </div>
            <div class="two fields">
              <div class="field">SMS monitor:</div>
              <div class="ui field label"><%= gsm.info.hasSms ? 'yes' : 'no' %></div>
            </div>
            <div class="two fields">
              <div class="field">USSD monitor:</div>
              <div class="ui field label"><%= gsm.info.hasUssd ? 'yes' : 'no' %></div>
            </div>
            <div class="two fields">
              <div class="field">SMSC:</div>
              <div class="ui field label"><%= gsm.props.smsc %></div>
            </div>
            <div class="two fields">
              <div class="field">Network:</div>
              <div class="ui field label"><%= gsm.props.network.operator ? gsm.props.network.operator : gsm.props.network.code %></div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Logs:</label>
          <textarea class="log <%= gsm.name %>" rows=20 readonly></textarea>
        </div>
      </div>
      <%_ } -%>
      <%_ }); -%>
    </div>
  </div>
</div>
<% items = JSON.stringify(ports, null, 4) %>
<% script.create('JQuery')
  .add(`
$.term.init(${items});
$('a[data-port]').on('click', function(e) {
    e.preventDefault();
    var a = $(this);
    a.siblings('a').removeClass('active');
    a.addClass('active');
    $('.ui.form.gsm').hide();
    $('.ui.form.gsm.' + a.attr('data-port')).show();
}).filter(':first').click();
`); %>